INFLUXDB_URL=http://localhost:8086
INFLUXDB_TOKEN=my-super-secret-auth-token
INFLUXDB_ORG=hydrotrack
INFLUXDB_BUCKET=telemetry
MQTT_BROKER_URL=mqtt://localhost:1883
JWT_SECRET=super_secret_jwt_key
JWT_EXPIRY=24h
PORT=3000
